<%- include css.ejs %>


<title> gameBuzzer  </title>

<div class=container>
    <div class="six columns offset-by-three">
        You are now participating in XXXXXXXXXX.
        <br />
        Enter a name below and you are ready to BUZZ in!
    </div>
    <div class="six columns offset-by-three" id="results">
    </div>
    <div class="six columns offset-by-three">
        <input type="submit" id="buzzer" value="BUZZER" />
    </div>
    <div class="six columns offset-by-three" id="results">
    </div>
</div>









<!-- <img src="static/lauren-graham-2.jpg" /> -->

<!-- <strong> Hello, <%= name %>! </strong> -->
