<%- include css.ejs %>



<title> gameBuzzer  </title>

<div class=container>
    <div class="six columns offset-by-three">
        You are now managing the game <%= gamename %>. <br>
        The url to join this game is xxxxxxxxxxxx. <br>
        Below is a list of who buzzed in. <br>
        Push the reset button to clear the list. <br>
        <input type="submit" name="reset" value="RESET" />
    </div>
    <div class="six columns offset-by-three" id="results">
        <!-- TODO import knockout library, try a for-each ... -->
    </div>
</div>

<% %>
